/* // code written by @webdev_guru */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #183b56;
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  position: relative;
}
.box {
  margin-bottom: 8rem;
  background: #eaecee;
  border-radius: 0.5rem;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.user__value {
  border-radius: 5px;
  padding: 10px 17px;
  width: 100%;
  margin-top: 0.5rem;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.text_aria {
  height: 100px;
  resize: none;
}

i {
  padding-left: 3px;
}
p {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 400;
  padding-bottom: 1rem;
}
.para {
  margin-top: -10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-top: 1rem;
  border-radius: 5px;
  letter-spacing: 0.02em;
  padding: 10px 17px;
  width: 50%;
  text-transform: uppercase;
  background: #01e675;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  outline: none;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
button:hover {
  background: #01c464;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  align-self: flex-end;
  height: 30px;
}
#footer p a {
  text-decoration: none;
  color: #01c464;
  font-weight: 500;
}
